.header-obi {
  margin: 0;
  width: 100%;
  height: 50px;
  background-color: #00bfff;
}

.header {
  margin: 0px;
  padding: 0px;
  width: 670px;
  box-sizing: border-box;
  margin: auto;
  box-sizing: border-box;
}

.main {
  width: 640px;
  margin: auto;
}

.select-wrapper {
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.select-left {
  width: 100px;
  display: inline-block;
  height: 100%;
  float: left;
}

.select-left-text {
  font-size: 13px;
  padding-top: 5px;
  padding-left: 13px;
}

.select-left img {
  width: 35px;
  padding-left: 33px;
  padding-bottom: 10px;
  float: left;
}

.select-box {
  width: 60%;
  height: 40px;
  border-radius: 5px;
  float: left;
  margin-top: 5px;
  display: inline-block;
  margin-left: 50px;
}

.ok {
  display: inline-block;
  margin-left: 50px;
  margin-top: 10px;
  position: relative;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #c0c0c0;
}

.ok p {
  position: absolute;
  font-size: 10px;
  top: 0px;
  left: 8px;
  color: #fff;
  z-index: 10;
}

.btn {
  margin-top: 15px;
  width: 100%;
  height: 60px;
  background-color: #c0c0c0;
  box-shadow: 0 5px ;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 30px;
}

span {
  color: red;
}

.text h1 {
  padding-top: 20px;
  padding-left: 200px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.text h2 {
  padding-top: 0;
  margin-top: 0;
  padding-left: 150px;

}

.midasi {
  width: 100%;
  height: 100px;
}

.midasi-left {
  float: left;
}

.midasi-left h3 {
  font-size: 70px;
  padding: 0;
  margin: 0;
}

.midasi-right {
  display: inline-block;
}

.midasi-right p {
  margin: 0;
  padding-top: 20px;
  font-size: 12px;
}

.midasi-right h2 {
 margin: 0;
}

.text2 {
  padding-top: 50px;
}

.text2 h1 {
  color: #00dfff;
}

button {
  color: #fff;
}

.img-1213 {
  position: relative;
}

.img13 {
  position: absolute;
  top: 565px;
}

.sukima {
  width: 100%;
  height: 80px;
}

.f-text {
  padding: 50px;
}

.f-text img{
  float: left;
}

.f-obi {
  width: 100%;
  height: 80px;
  background-color: #00bfff;
}





55555
